[2021-02-16 10:44] Wolfr opened #701 "Serifs eruit"
Algemeen: serif fonts eruit halen en typografie van design volgen.

Overal waar we een serif font gebruiken, code genre `<h3 class="vl-title vl-title--h3">`, dit vervangen door de `auk`-equivalent.

[2021-02-16 10:45] Wolfr opened #702 "Dossier detail: spacing minister blokken"
Verbetering van de spacing tussen de delen rond “korte titel”/lange titel/opmerking en de ministers.

Dit gaat over meer plaats voorzien waar de rode lijn in dit screenshot staat:

![image](https://user-images.githubusercontent.com/12690/108105351-ca7f3a00-708c-11eb-99a4-aff9c80e0014.png)

[2021-02-16 10:45] Wolfr opened #703 "Styleguide stijlen enkel inladen op styleguide route"
Styleguide stijlen worden momenteel op productie ingeladen.

[code]

Al deze styles moeten in een aparte stylesheet, die enkel wordt ingeladen op dev en op lokale versies.

Alternatief is enkel inladen op de styleguide route.

[2021-02-16 10:46] Wolfr opened #704 "Spacing utilities nakijken"
* `.auk-u-mb-10` class weghalen
* Nakijken values (5px based dus de berekeningen moeten kloppen e.g. 3x5)
* Heb ook gemerkt dat er nog iemand een extra utility heeft toegevoegd die zeker ook weg moet (in _spacing.scss)

[code]

[2021-02-16 10:47] Wolfr opened #705 "Algemene todo: Webcomponenten 3 .vl- eruit krijgen"
`.vl-` namespaced componenten uit het project krijgen.

We kunnen dit best methodisch aanpakken: stukje bij beetje. Je kan best het hele project afzoeken op de gebruikte selectors.

Bv. eerst zorgen dat we 1 component eruit halen, een eenvoudig voorbeeld is de CSS van `_description_data.scss`. De vervangern hiervoor is `_auk-key-value.scss`.

### Lijstje van .vl (afchecken als we deze eruit hebben

[2021-02-16 16:09] brenner-company commented on #701
Aanpassingen op de volgende branch: DES/enhancement/#701-remove-serif-font

[2021-02-16 16:18] brenner-company commented on #701
Mixed met #705:

Binnen het project zijn er nog redelijk veel titels aanwezig van het type `vl-title vl-title--h[#]`. Deze kunnen eventueel ook vervangen worden, maar de pagina's waar ze binnen staan hebben meestal geen design referentie binnen de Figma mockups of het design is aangepast (om te verbeteren/vernieuwen).

Ofwel laten we deze nog staan tot het correcte design geïmplementeerd kan worde

[2021-02-16 16:24] Wolfr commented on #701
Van bijna elk scherm bestaat een design hoor; maar zoals je misschien gezien hebt zitten er meestal nog wel meer verbeteringen in dan enkel de titels veranderen.

Maar wachten op een volledige implementatie is niet de bedoeling. Dan gaat het nooit gebeuren. We moeten stapje voor stapje werken. Dus je laatste suggestie is het beste.

[2021-02-16 17:16] MikiDi commented on #703
Gewoon conditioneel importen op environment bij het builden lijkt me best. https://guides.emberjs.com/release/addons-and-dependencies/#toc_environment-specific-assets

[2021-02-16 18:20] brenner-company commented on #704
Aanpassingen op de volgende branch: DES/enhancement/#704-evaluation-spacing-utilities

[2021-02-16 18:23] Wolfr opened #708 "Centreren van loader"
Momenteel komt er op veel plekken een loader tevoorschijn.

![image](https://user-images.githubusercontent.com/12690/108105013-58a6f080-708c-11eb-8a94-9cf779e6aced.png)

Deze staat nu te plakken tegen de bovenkant, maar moet gecentreerd worden in het vlak.

Design link: https://www.figma.com/file/TV7uHiWOymlNTZnD1DGMiE/%F0%9F%92%AF-Kaleidos-Grooming-Digitale-Publicaties?node-id=1280%3A19281

[2021-02-16 18:25] brenner-company commented on #704
Enkel rond de extra class `.vlc-u-padding-2` zit ik wel nog met een korte vraag. Ik slaag er niet 100% in om het component (waar de class gebruikt wordt) visual te lokaliseren binnen de app en hoe/wanneer die class precies op dat component wordt geplaatst.

[2021-02-16 18:27] Wolfr opened #709 "Dossier detail: success pill mag een gewone pill worden"
![image](https://user-images.githubusercontent.com/12690/108105469-f26e9d80-708c-11eb-9336-903a48458780.png)

De “success” pill mag een gewone pill worden op dit stukje.

[2021-02-16 18:28] Wolfr opened #710 "Styleguide route: logischere naam"
De naam van de styleguide route mag veranderd worden van `aukstyleguide` naar `auk-styleguide`.

http://localhost:4200/aukstyleguide/alert-skins

[2021-02-16 18:29] Wolfr commented on #709
Je zou daar de nieuwere pill kunnen gebruiken, zie http://localhost:4200/aukstyleguide/pill

Diegene die het moet zijn is de default pill.

![image](https://user-images.githubusercontent.com/12690/108105771-51341700-708d-11eb-89a3-15a561e94810.png)

[2021-02-16 18:32] Wolfr opened #711 "De tabs bovenaan in Agenda's staan te ver uit elkaar"
De tabs bovenaan in Agenda's staan te ver uit elkaar

![image](https://user-images.githubusercontent.com/12690/108105933-8e000e00-708d-11eb-9b4c-f7b662da78b6.png)

In het design staan deze dichter.

Voorbeeld

![image](https://user-images.githubusercontent.com/12690/108105982-a2440b00-708d-11eb-83b4-f2b29091082d.png)

https://www.figma.com/file/cRQyjDA19dlGXvTDTUhoE4/%F0%9F%92%AF-Kaleidos-Q1-2021-

[2021-02-16 18:51] Wolfr commented on #704
![image](https://user-images.githubusercontent.com/12690/108108021-55156880-7090-11eb-9c75-98cb5fc49b7d.png)

Hier op de + drukken, dan komt er een boxje tevoorschijn.

[2021-02-16 18:53] Wolfr commented on #701
Zoals aangegeven in #705,  lijken unit testen af te hangen van CSS selectors.

Nochtans was er ooit in het project afgesproken om met data attributes te werken. Hier is precies niet echt aan gehouden.

Ik heb de vraag gesteld (of eerder opmerking gegeven) in het algemene dev kanaal.

Ik denk dat je best eens vraagt hoe je die testen kan runnen lokaal aan iemand van het dev team, ik heb hier zelf g

[2021-02-16 18:59] Wolfr opened #712 "Inconsistent BEM gebruik _vlc-case.scss"
Ik kwam deze code tegen in `_vlc-case.scss`:

[code]

Dit is een BEM child, maar er is geen parent.

De CSS file heet ook niet zoals de component, zoals we proberen te doen.

Dit is een kleine refactor om conform te zijn.

[2021-02-17 15:56] brenner-company commented on #702
Aanpassingen op de volgende branch: DES/enhancement/#702-fix-agendaitem-titles-spacing

[2021-02-17 16:01] brenner-company commented on #702
Even zitten zoeken waardoor de class `auk-u-mb-8` niet correct op element kwam te staan, maar blijkbaar is er bij het omzetten van het component naar een glimmer component niet gelet op het feit dan de `classNames` API niet meer werkt hier en classes binnen de HTML moeten geplaatst worden.

Ik peil sowieso nog eens bij een dev of die `classNames = ['auk-u-mb-8'];` verwijderd mag worden.

Nu, in he

[2021-02-17 16:26] brenner-company commented on #709
Aangepast, maar toch even om af te checken:
- Er moet niet meer gekeken worden naar een success state (want binnen de code maakten ze daar onderscheid tussen)?
- Bij de oude code voorzagen ze nog een `vl-u-text--capitalize` om waarschijnlijk labels zonder hoofdletter op te vangen. Mag ik een alternatief hiervoor voorzien binnen `au-kaleidos-css`?
- Mogen de pills daaronder (default + success) ook

[2021-02-17 16:30] brenner-company commented on #709
Aanpassingen op de volgende branch: DES/enhancement/#709-replace-pill

[2021-02-17 17:47] Wolfr commented on #702
Ja, right. Goed punt. Dit werkt anders in Ember v2 t.o.v. Ember v3.

[2021-02-17 17:49] Wolfr commented on #709
* Die success state, dat is nooit zo ontworpen voor zover ik weet, dat is er ingeslopen op dev.
* Capitalizen via CSS zou ik vermijden
* De pills daaronder zou ik ff afblijven tot ik de code heb nagekeken

[2021-02-17 18:28] Wolfr opened #716 "Numac number list"
I saw this come by in a commit.

https://github.com/kanselarij-vlaanderen/kaleidos-frontend/blob/b6311277d663b30ba59829c3a9a8dbadf779d733/app/styles/custom-components/_vlc-numac-nummer-list.scss

This file needs fixes to accord to coding standards. Just posting this here for a review meeting with @brenner-company .

[2021-02-17 18:33] brenner-company commented on #708
Voor het design mis ik blijkbaar nog de nodige rechten, check je dat even na als je de tijd hebt?

![image](https://user-images.githubusercontent.com/18174827/108250636-c6b7ea00-7156-11eb-9ffb-706c4fc404a7.png)

[2021-02-17 18:43] Wolfr opened #717 "Cypress testen"
Uitzoeken hoe Karel Cypress testen kan runnen.

[2021-02-17 18:46] Wolfr opened #718 "Icons npm warn"
`npm WARN The package @kanselarij-vlaanderen/au-kaleidos-icons is included as both a dev and production dependency.`

[2021-02-17 18:54] Wolfr opened #719 "Mock login route: bovenkant met missing image"
![image](https://user-images.githubusercontent.com/12690/108253286-e866a080-7159-11eb-8671-7eb9a09a1d6b.png)

Op de mock login route, mag die bovenkant helemaal weg.

[2021-02-17 19:08] Wolfr opened #720 "Project builden duurt gigalang"
Wat duurt er zo lang? Te onderzoeken (of een snellere laptop kopen...)

`106634ms`

[2021-02-17 19:11] Wolfr opened #721 "Hover state data table"
![image](https://user-images.githubusercontent.com/12690/108255147-295fb480-715c-11eb-8c9c-8305d137284d.png)

De hover state op een data table heeft niet de juiste kleur, het is geen blauwgrijs maar een gewoon grijs.

Een andere familie grijzen dus. We zouden dit component kunnen moderniseren naar de nieuwe kleuren.

[2021-02-17 19:12] Wolfr opened #722 "Mini spacing tussen agenda items mag weg"
![image](https://user-images.githubusercontent.com/12690/108255269-557b3580-715c-11eb-9954-fa5d12b11307.png)

Tussen items in de lijst van een agenda staat zo een klein plekje. Maar daar is geen reden voor, en niet conform designs. Dit mag weg.

[2021-02-17 19:16] Wolfr opened #723 "“Naar procedurestap” link op agenda detail"
![image](https://user-images.githubusercontent.com/12690/108255519-aab74700-715c-11eb-9860-1fe0d1943621.png)

We kunnen “naar procedurestap” op agenda detail bovenaan zetten, naast de 2 knoppen uitstellen en verwijderen.

Momenteel staan de 2 knoppen in een `.vl-action-group`.

Dit kan vervangen worden door een `auk-toolbar`.

Zie de documentatie van een toolbar: http://localhost:4200/aukstyleguid

[2021-02-17 19:19] Wolfr opened #724 "Grijze box gebruiken in edit state van de Nota"
![image](https://user-images.githubusercontent.com/12690/108255962-34ffab00-715d-11eb-8c00-fb46f81d55aa.png)

Als je een nota wijzigt, staat dit niet in een box. Dit moet wel naar een box.

Dit is een eerste stap richting het correct implementeren van de panel layout.

[2021-02-17 19:22] Wolfr opened #725 "Icoontje zoekpagina"
![image](https://user-images.githubusercontent.com/12690/108256298-a50e3100-715d-11eb-8328-67f2c0479d78.png)

Op de zoekenpagina is het icoontje bij trefwoord niet goed uitgelijnd.

Het moet ook grijzer zijn.

[2021-02-17 19:23] Wolfr opened #726 "Popup zoekpagina"
![image](https://user-images.githubusercontent.com/12690/108256496-e7d00900-715d-11eb-9710-b42a646e4efe.png)

Je kan hier geraken door op http://localhost:4200/zoeken/agendapunten te klikken op het info icoontje bij trefwoord.

In de popup van de zoekpagina staat er een tabel kolom te veel.

Ook zou de laatste lijn niet zichtbaar moeten zijn.

[2021-02-17 19:25] Wolfr opened #727 "Verkeerde procedurestap types"
Drukproef, handtekenen en vertaling zijn geen procedurestap types.

![image](https://user-images.githubusercontent.com/12690/108256817-3aa9c080-715e-11eb-9bda-00275ca85b36.png)

Uitzoeken hoe we dit uit de testdata krijgen, want het lukt me niet om deze te verwijderen.

Dit is eerder een algemene vraag dan iets voor jou @brenner-company

[2021-02-17 19:27] Wolfr opened #728 "Handtekeningen beheren"
Ik kwam de module “handtekeningen beheren” tegen in de instellingen.

Wordt dit nog gebruikt? Ik heb dit nog nooit in actie gezien en weet niet waar het voor dient.

Algemene vraag, op te nemen met dev team (gebundeld) - niet voor @brenner-company .

[2021-02-17 19:29] Wolfr opened #729 "Als je in een diepere instelling bent, staat er geen selected state op het menu"
E.g. in gebruikersbeheer klopt de selected state niet

![image](https://user-images.githubusercontent.com/12690/108257256-ce7b8c80-715e-11eb-9b47-941ff0fde54c.png)

[2021-02-17 19:36] Wolfr opened #730 "Nota wijzigen in context van een dossier"
![image](https://user-images.githubusercontent.com/12690/108257814-9de82280-715f-11eb-961a-dc1bcd78735a.png)

Als je in een dossier een nota wijzigt, dan plakt dit tegen de ministers & beleidsvelden wijzigen.

To do: ervoor zorgen dat dit niet meer het geval is.

To reproduce:

1. Ga naar een dossier http://localhost:4200/dossiers/602D6D46E0D77A000800002D/deeldossiers/602D6FB1E0D77A0008000036/over

[2021-02-17 19:39] Wolfr commented on #701
Lijkt me goed, ik zie wel dat dit een weerslag heeft op de look van “Kort bestek”, maar dat is niet zo erg.

[2021-02-17 19:39] Wolfr commented on #702
Lijkt me goed.

[2021-02-17 19:42] Wolfr commented on #704
De klasse `auk-u-mr-5` wordt gedefinieerd maar nergens gebruikt.

De klasse `auk-u-mr-6` wordt gedefinieerd maar slechts 1 keer gebruikt.

Die laatste wordt gebruikt in een action group, waar algemeen weg van bewogen moet worden (zie ook #723 )

Als we die 2 er nog uit kunnen halen, dat zou goed zijn.

[2021-02-17 19:43] Wolfr commented on #729
Is geen CSS issue, kan je voorlopig negeren @brenner-company

[2021-02-17 21:18] Wolfr opened #731 "Wat is Ember truth helpers?"
Vrij obscure projectkennis maar toch ook belangrijk om te weten.

Ember truth helpers is een externe package om te helpen met conditional logica. Scan even de README:

https://github.com/jmurphyau/ember-truth-helpers

Als je dus code genre dit tegenkomt:

	{{if (eq a b)}}

Dan is het powered door die truth helpers. Dit komt voor in de Handlebars view templates, en in de Handlebars templates voor d

[2021-02-17 21:26] Wolfr opened #732 "Algemene todo: Refactor doel 2 - vlc naar auk"
In navolging van #705 , is het erna kwestie van  de `.vlc-` componenten te herschrijven naar `.auk-` componenten. Een groot deel hiervan is al gebeurd in het prototype, en daar hebben de componenten reeds een `auk` namespace.

Wat nog niet gebeurd is, is de vergelijking met productie. Dit zal veel makkelijker zijn dan de `vl-`-componenten weg-refactoren, want deze `vlc-` code is nieuwer en de mees

[2021-02-17 21:32] Wolfr opened #733 "Code refactor: algemeen idee - beginnen bij de kleinste componenten"
`<i class="vl-link__icon vl-link__icon--before vl-toggle__icon ki-chevron-right"></i>`

Dit soort code verwijst naar een icoontje, met de oude logica.

De nieuwe logica is een component gebruiken:

`<WebComponents::AuIcon @name="chevron-right" />`

Wanneer we het in het verleden hebben gehad over beginnen refactoren, dan ging het over van het kleinste element naar het grootste.

Dus ipv. te beginn

[2021-02-18 12:17] brenner-company commented on #708
Aanpassingen op de volgende branch: DES/enhancement/#708-center-loading-animation

[2021-02-18 12:24] brenner-company commented on #708
Een manier gevonden om alle loaders goed te krijgen zonder al te veel aanpassingen binnen de specifieke pagina's te moeten doen.

Ik heb zoveel mogelijk locaties van de loaders opgezocht en visueel afgechecked, maar er is wel een kans dat ik er één gemist zal hebben. Mochten er toch nog zijn die niet aan vereisten van deze issue voldoen, plaats gerust hier een comment.

[2021-02-18 13:18] Wolfr opened #735 "Ordening CSS - 1-malige componenten andere naam"
Nog een idee dat ik had.

1 malige (vaak layoutmatige) componenten moeten een andere prefix krijgen.

Je hebt de objects in ITCSS, soms gebruik ik `l-` voor layout.

Zo is het duidelijk dat ze iets anders zijn dan een herhaalbaar element zoals een button of een pill.

Dit is ook belangrijk in een breder design system verhaal om het verschil te maken tussen wat lokaal tot het project behoort of beh

[2021-02-18 14:01] Wolfr opened #737 "Hover state document badge/list"
![image](https://user-images.githubusercontent.com/12690/108367608-eb18d280-71f9-11eb-8de7-aa5fa3063ab1.png)

Die hover state op zo'n document, dat is nooit zo de bedoeling geweest, dat is er ergens in dev ingesukkeld.

We moeten eens bekijken hoe dit er dan wel zou moeten uitzien. Maar alleszins niet zo.

[2021-02-18 14:03] Wolfr commented on #737
Op het huidige prototype is er geen rekening mee gehouden dat dit een link kan zijn, dus dat is het ook niet helemaal: https://kaleidos.mono.global/app/agendas/overview

[2021-02-18 14:12] Wolfr opened #738 "Affordance inline editing document widget"
Het document widget heeft een affordance probleem.

Dit kunnen we hotfixen in afwachting van een beter document widget.

Ik leg nog duidelijker uit waar dit over gaat.

* Pijltjes
* Hover states

[2021-02-18 14:12] Wolfr opened #739 "Tests tabel breedtes"
Hoe kunnen we de breedtes van tabellen beter controleren door CSS klasses? Tests te maken om erna toe te passen op publicatie hoofd tabel.

[2021-02-18 14:16] Wolfr commented on #726
In het prototype ziet die popup er al beter uit.

<img src="https://user-images.githubusercontent.com/12690/108369793-3fbd4d00-71fc-11eb-88f6-2b98113e8414.png" width="450">

Kunnen we de code van het prototype naar de front-end brengen?

https://kaleidos.mono.global/app/search/agendapunten

[2021-02-18 14:38] Wolfr commented on #708
Cool!

[2021-02-18 15:12] brenner-company commented on #704
`auk-u-mr-5` en `auk-u-mr-6` verwijderd binnen lokale kopie van `au-kaleidos-css`. De gebruikte `auk-u-mr-6` vervangen door een legacy spacing class `u-padding--right` om de referentie te kunnen verwijderen. Op zich geen probleem omdat we zo snel als mogelijk willen overschakelen naar de nieuwere toolbar (zoals vermeld binnen #723).

[2021-02-18 15:56] MikiDi commented on #718
Zie comment hier https://github.com/kanselarij-vlaanderen/kaleidos-frontend/pull/600#discussion_r539089926 voor toelichting.

[2021-02-18 16:02] MikiDi commented on #728
Dit maakt volgens mij deel uit van een feature die nooit volledig in gebruik genomen is / niet gebruikt wordt (om de secretaris z'n handtekening te tonen onderaan de printable lijst van beslissingen). Hoogstwaarchijnlijk helemaal eruit te strippen alvorens die feature opnieuw te analyseren.

[2021-02-18 16:16] MikiDi commented on #723
Zie ook @brechtPhilips 's werk op https://github.com/kanselarij-vlaanderen/kaleidos-frontend/pull/740

[2021-02-18 17:28] Wolfr commented on #723
Aha! Goed dat hier aan begonnen is.

[2021-02-18 17:28] Wolfr commented on #723
Deze issue vervalt dan eigenlijk.

[2021-02-18 17:28] #723 closed, assigned to nobody

[2021-02-18 17:32] Wolfr commented on #728
Tangentially related - Er is nu een feature idee rond signatures voor de mails van OVRB, maar die setting zou op gebruikersniveau leven.

[2021-02-18 18:05] brenner-company commented on #703
Ik laat deze issue even voor wat het is denk ik. Enkele zaken uitgezocht en tot de volgende conclusies gekomen:

- Importen bij het builden (zoals @MikiDi vermeld had) is enkel mogelijk vanuit `node_modules` of `vendor` folder en enkel met al gecompileerde CSS bestanden (geen SCSS).
- Conditioneel importen binnen SCSS via environment variables is spijtig genoeg (nog steeds) niet mogelijk.
- Styleg

[2021-02-18 21:12] Wolfr opened #743 "Disabled state knop bij publicaties"
![image](https://user-images.githubusercontent.com/12690/108422069-5aacb300-7236-11eb-8b45-1d4ef0b734ff.png)

De disabled state van een knop ziet er niet goed uit.

Te zien op een dossier zonder documenten.

Bv. momenteel op https://kaleidos-dev.vlaanderen.be/publicaties/602E178CE0D77A0008000001/documenten

[2021-02-18 21:14] Wolfr opened #744 "Publicaties: counter documenten"
![image](https://user-images.githubusercontent.com/12690/108422184-82038000-7236-11eb-948b-bc0ffb400b8f.png)

er staat te veel plaats tussen het aantal documenten en het label.

[2021-02-18 21:15] Wolfr opened #745 "Formeel OK maken van agendapunten als admin: dropdown - zoeken weg"
Bij het formeel OK zetten van agendapunten, is het “zoeken” aspect vrij overbodig, daar er maar 3 opties zijn.

![image](https://user-images.githubusercontent.com/12690/108422340-bd05b380-7236-11eb-96e6-22fac5569b65.png)

[2021-02-18 21:17] Wolfr opened #746 "Je kan op een datepicker geen datum intikken"
Dit is lastig bij datums die ver in de toekomst liggen, waar je dan manueel naar moet navigeren.

![image](https://user-images.githubusercontent.com/12690/108422606-1372f200-7237-11eb-9a6d-300490f2b9de.png)

[2021-02-18 21:18] Wolfr opened #747 "Ministerbeheer sorteerbaarheid kolommen"
![image](https://user-images.githubusercontent.com/12690/108422703-2e456680-7237-11eb-84b2-96c762d09e31.png)

Bij ministerbeheer lijkt het alsof je kan sorteren, de table headers zijn clickable, maar de kolommen zijn niet sorteerbaar.

[2021-02-18 21:23] Wolfr commented on #720
Niet zo actionable en is ook maar de 1e keer, dus weg ermee met deze issue.

[2021-02-18 21:23] #720 closed, assigned to nobody

[2021-02-18 21:26] Wolfr opened #748 "Multi select stijlen"
<img src="https://user-images.githubusercontent.com/12690/108423543-45d11f00-7238-11eb-94f7-28a08fea8042.png" width="300">

De multi select kan beter gestijld worden conform design.

Te vinden bij het toevoegen van een organisatie bij een contactpersoon.

Eventueel te documenteren in de styleguide?

[2021-02-18 21:48] Wolfr commented on #708
Lijkt me goed. Super.

[2021-02-18 21:51] Wolfr commented on #709
Op dit scherm is er blijkbaar beginnen gewerkt worden in #740 .

Ik vraag hier al maanden naar en had niet verwacht dat dit nu net op de sprint zou landen.

Dit is dezelfde change op 2 plekken, dus misschien kunnen we deze “annuleren” aangezien deze change al gebeurd is in @brechtPhilips  zijn branch.

[2021-02-19 08:24] Wolfr opened #749 "Active state knoppen nakijken"
Nog iets rond de knoppen stijlen.

https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=1980%3A68

Voor een toekomstig ticket moet er ook gewerkt worden aan de active stijl van een knop.

De Figma component vind je hier: https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=1980%3A68

De feature is het

[2021-02-19 08:25] Wolfr commented on #749
Related #743

[2021-02-19 09:34] brenner-company commented on #710
Aanpassingen op de volgende branch: DES/enhancement/#710-rename-styleguide-route

[2021-02-19 10:01] Wolfr commented on #746
@brenner-company Dit is meer een functionele bug, dit mag je negeren.

[2021-02-19 10:02] Wolfr commented on #747
@brenner-company Dit heeft te maken met hoe de tabellen in het algemeen geïmplementeerd zijn, hier zijn veel verschillende versies van. Dit mag je voorlopig nog even negeren.

[2021-02-19 10:03] Wolfr commented on #745
Dit heeft te maken met hoe het element gecalled wordt, en niet noodzakelijk met de CSS.

Ik maak er een Jira ticket van, en dan kunnen we het hier houden op CSS issues.

[2021-02-19 10:04] #745 closed, assigned to nobody

[2021-02-19 10:06] Wolfr commented on #746
Ik heb dit gelogd als https://kanselarij.atlassian.net/browse/KAS-2243 en close het hier.

[2021-02-19 10:06] #746 closed, assigned to nobody

[2021-02-19 10:07] Wolfr commented on #747
Dit is nu gelogd als https://kanselarij.atlassian.net/browse/KAS-2245

[2021-02-19 10:07] #747 closed, assigned to nobody

[2021-02-19 11:04] brechtPhilips commented on #709
De rework staat in branch KAS-2142, deze is nog niet optimaal ik heb me gebaseerd op de huidige designs. Er staat nog inline css in deze zou nog naar een andere file moeten.

[2021-02-19 11:51] brenner-company commented on #717
De instructies binnen de readme's van `kaleidos-project` en `kaleidos-frontend` kunnen volgen, maar blijkbaar moet er nog iets gecorrigeerd worden mbt mijn configuratie ervan.

Ik wacht dus nog even tot ik een dev vast kan krijgen om het proces te doorlopen.

[2021-02-19 13:16] brenner-company commented on #711
@Wolfr: binnen de bestaande code zie ik dat de tabs via `.vlc-tabs-reverse` geïmplementeerd worden. Nu, de meest logische optie zou zijn om dit te vervangen door een `WebComponents::AuTabs`, maar ik heb geen idee of dat mogelijk is aangezien de huidige tabs een mix zijn van reguliere routes & actions.

Wat zou dan beste optie zijn?
- Bestaande code vervangen door HTML structuur van `WebComponents:

[2021-02-19 13:48] brenner-company commented on #712
Aanpassingen op de volgende branch: DES/enhancement/#712-inconsistent-bem

[2021-02-19 14:26] brenner-company commented on #716
Nu ik zie waar deze CSS gebruikt wordt herinner ik me dat dit vermeld is geweest binnen de demo op 17/02. Deze moest functioneel werken, maar had inderdaad nog op visueel vlak redelijk wat werk nodig (zie screenshot).

Verder is er ook wel een verschil met wat er binnen de designs staat? De eerste referentie die ik naar daar kan vinden is [deze](https://www.figma.com/file/TV7uHiWOymlNTZnD1DGMiE/%F

[2021-02-19 14:46] brenner-company commented on #719
Aanpassingen op de volgende branch: DES/enhancement/#719-remove-mock-login-header

[2021-02-19 14:55] brenner-company commented on #722
Aanpassingen op de volgende branch: DES/enhancement/#722-remove-inbetween-spacing

[2021-02-19 15:02] brenner-company commented on #722
Daarnaast lijkt het me ook interessant om te kijken of die `.vlc-agenda-items--spaced` niet uit de code kan gehaald worden, maar staat dan eerder onderaan op de lijst met prioriteiten.

[2021-02-19 16:22] brenner-company commented on #724
Aanpassingen op de volgende branch: DES/enhancement/#724-edit-state-box

[2021-02-19 17:14] brenner-company commented on #725
Aanpassingen op de volgende branch: DES/enhancement/#725-search-icon

[2021-02-19 17:25] brenner-company commented on #725
Naast de aanpassingen binnen structuur heb `.auk-icon--muted` als class gebruikt om icon een meer passende grijswaarde te geven. Deze komt niet 100% overeen met de grijswaarde van de gedateerde `.vl-form__label`, maar dan is al in orde wanneer de labels aangepast worden naar `WebComponents::AuLabel` componenten.

Ik wou dat laatste nu al direct in orde brengen (zodat de grijswaarden overeen komen)

[2021-02-22 17:01] brenner-company commented on #726
Aanpassingen op de volgende branch: DES/enhancement/#726-searchpage-popover

[2021-02-22 17:03] brenner-company commented on #726
@Wolfr Ik mis enkel nog een entry binnen `nl-be.json` voor 'Hulp bij zoeken'. Is dit iets wat ik zelf zou mogen toevoegen binnen die file? (desnoods vraag ik het eens aan iemand van de devs)

[2021-02-22 17:07] brenner-company commented on #717
Hulp van @ValenberghsSven gehad hierbij 👏

[2021-02-22 17:08] #717 closed, assigned to brenner-company

[2021-02-22 17:12] Wolfr commented on #726
Ja, labels mag je gewoon zelf toevoegen.

[2021-02-22 17:37] Wolfr opened #757 "Icons: update to a new package"
In reference to https://github.com/kanselarij-vlaanderen/au-kaleidos-icons/issues/2 we could look at the icons.

This process will involve first creating a new package which fixes the doubles, remove the legacy icons, release a new version, and then make sure we use this new version on the Kaleidos front-end.

[2021-02-23 09:52] brenner-company commented on #730
Aanpassingen op de volgende branch: DES/enhancement/#730-fix-subcase-context-spacing

[2021-02-23 10:02] brenner-company commented on #726
Momenteel wordt de popover nog getoond via een `AttachPopover`, maar binnen de prototypes van Mono zie ik dat er eerder voor een `EmberPopover` wordt gegaan. Komt er nog een specifiek popover component binnen app of kijk om tijdens #732 om gelijk te trekken met het prototype?

[2021-02-23 10:36] emilyvandewalle commented on #738
Design pattern inline editing affordance:
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2388%3A2884

[2021-02-23 10:36] emilyvandewalle commented on #748
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2385%3A2938

[2021-02-23 10:37] emilyvandewalle commented on #721
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2385%3A3508

[2021-02-23 13:14] Wolfr commented on #721
@brenner-company De juiste kleur is nu gedocumenteerd voor zebra en non-zebra tables in de Figma link hierboven ☝️ . Dit kan geïmplementeerd worden.

[2021-02-23 13:18] Wolfr commented on #738
Niet alles is even rechtstreeks implementeerbaar.

@emilyvandewalle Ik heb nog wat design comments gezet.

@brenner-company we zullen hier doorgaan in onze meeting en ik kan aanduiden wat we voorlopig wel kunnen doen.

[2021-02-23 13:21] Wolfr commented on #726
Ik heb hier geen kennis over. Wat ik wel weet is dat we een zo modern mogelijke versie van Popper willen gebruiken (De 2.x branch op https://popper.js.org/docs/v2/ )

[2021-02-23 13:37] brenner-company commented on #731
Bedankt voor de extra info. Die `{{if (eq a b)}}` had ik voordien al even tegen gekomen en in die context had ik wel snel door wat dit effectief deed, maar de bijkomende vormen zijn wel interessant geweest om even te overlopen.

[2021-02-23 13:37] #731 closed, assigned to nobody

[2021-02-23 17:50] brenner-company commented on #705
Aanpassingen op de volgende branch: DES/enhancement/#705-vl-refactor

[2021-02-23 18:23] Wolfr opened #760 "Labels Ministerraad"
[code]

Ik zou dit toch eerder vertalen als “Ministerial Council” om geen verwarring te krijgen met de kabinettenwerking.

Bug nog te verzetten naar Jira, geen CSS bug

[2021-02-23 18:25] Wolfr commented on #743
Het design waar alle knoppen naar eenzelfde disabled look gaan, geeft problemen bij een situatie waar al je knoppen tijdelijk disabled moeten worden.

Het design klopt dus niet meer en moet eerst aangepast worden, erna kunnen we dit aanpassen.

[2021-02-23 18:39] Wolfr commented on #705
Ik zou persoonlijk precies niet bij die accordions beginnen. Dat is te belangrijk dat het goed blijft werken en te fragiel.

In de initiële ticket tekst staat advies ;)

[2021-02-23 18:42] Wolfr commented on #703
Deze bullet point optie is volgens mij het beste, ook al is dat iets minder koosjer.

[2021-02-23 18:43] Wolfr commented on #711
Gewoon de extra padding eruit zwieren for now.

Deze regel aan te passen, dat het er visueel meer uit ziet zoals de designs:

```  padding: 0.7rem 4rem 0.8rem;```

[2021-02-23 18:49] Wolfr commented on #716
![image](https://user-images.githubusercontent.com/12690/108892148-d5e3df80-760f-11eb-9593-c12271728755.png)

Ik snap niet goed waarom deze multi select zo geïmplementeerd is, met 2 inputs en een toevoegen knop (link).

Op dev bv. hier https://kaleidos-dev.vlaanderen.be/publicaties/602E178CE0D77A0008000001/dossiers staan nog  allerhande inline stijlen.

We zullen het eens checken in onze meeting.

[2021-02-23 19:00] brenner-company commented on #705
Was je tip sporadisch of had je mijn commit van deze namiddag gezien?

De accordion was namelijk de eerste waarmee ik begonnen ben 😅

[2021-02-23 19:33] Wolfr commented on #705
Het was op basis van de commit

Sent from my iPhone

[2021-02-23 20:21] Wolfr commented on #738
@brenner-company dit mag je voorlopig negeren, we moeten hier nog verder werken op het design.

[2021-02-23 20:28] Wolfr commented on #739
Dit gaat vooral over het optimaliseren van de view van de grote tabel bij publicaties.

Te zien op https://kaleidos-dev.vlaanderen.be/publicaties

![image](https://user-images.githubusercontent.com/12690/108903510-ab008800-761d-11eb-9391-07abea1c83e4.png)

We moeten dit aanpakken op verschillende manieren:

* Op componentniveau - niets moet breder zijn dan het eigenlijk moet zijn
  * Ik zie bv. da

[2021-02-25 12:59] Wolfr opened #763 "Oude styleguide verwijderen"
De styleguide op `/styleguide` mag verwijderd worden.

[2021-02-25 13:01] Wolfr opened #764 "URL wijzigen styleguide"
In navolging van #763, de URL van `/auk-styleguide` wijzigen naar `/styleguide`.

Bedoeling: uiteindelijk maar 1 styleguide URL.

[2021-02-25 13:02] Wolfr commented on #703
Besproken: we gaan voor de strategie van de vorige comment.

[2021-02-25 13:09] Wolfr opened #765 "Button groups vs Button toolbars"
Briefing te schrijven @Wolfr

[2021-02-25 13:15] Wolfr opened #766 "Nieuwe versie AU CSS maken"
* https://github.com/kanselarij-vlaanderen/au-kaleidos-css - nieuwe versie maken met minor version number (bv. 1.19, 1.20)
* Erna dient die toegepast te worden op de echte front-end
* Op basis van recente changes

[2021-02-25 13:20] Wolfr opened #767 "De scrollbar in de styleguide staat verkeerd"
![image](https://user-images.githubusercontent.com/12690/109159099-82d76d00-7774-11eb-992a-57b521ee3aeb.png)

[2021-02-25 13:21] Wolfr opened #768 "Alert volwassener maken"
* AUK Alerts verbeteren
* Volgens design https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=1%3A370

* Close buttons toevoegen
* Kleuren nakijken
* Positionering knoppen

[2021-02-25 13:40] Wolfr opened #769 "auk key value"
![image](https://user-images.githubusercontent.com/12690/109161427-54a75c80-7777-11eb-967f-3ba23ece0f2b.png)

* Afraden om dit component zo te gebruiken
* Eerder de divs gebruiken als wrappers
* anders te veel prop passing hell

[2021-02-25 13:57] Wolfr opened #770 "vl-u-text--muted"
![image](https://user-images.githubusercontent.com/12690/109163477-ac46c780-7779-11eb-82f9-0bf70e26df43.png)

vl-u-text--muted

switch naar utility class met auk kleuren

[2021-02-26 11:54] brenner-company opened #771 "Aanpassingen terug doorvoeren na merge (mbt #740)"
Na merge zijn enkele aanpassingen terug ongedaan gemaakt. Voor ik zelf een PR aanmaak moeten deze aanpassingen terug doorgevoerd worden.

[2021-02-26 11:55] brenner-company commented on #771
Aanpassingen op de volgende branch: DES/enhancement/#771-fix-after-dev-merge

[2021-02-26 15:29] brenner-company commented on #704
- Lokale kopie van `au-kaleidos-css` is terug verwijderd en aanpassingen zijn doorgevoerd binnen de eigenlijke package.
- `au-kaleidos-css` package is geupdate en naar versie `1.19.0` gebracht.
- SCSS import opnieuw naar package binnen `node_modules` laten verwijzen.

[2021-02-26 15:30] brenner-company commented on #704
Todo na merge naar `development`:
- Bericht plaatsen binnen kanselarij-dev channel om andere devs op de hoogte te brengen.
- Release aanmaken binnen https://github.com/kanselarij-vlaanderen/au-kaleidos-css/releases

[2021-02-26 15:34] brenner-company commented on #709
Na merge van `development` naar `DES/enhancement/css-refactor` staat de pill nog steeds in zijn juiste vorm. Ik sluit deze issue af (omdat er nu niets te mergen valt).

[2021-02-26 15:34] #709 closed, assigned to brenner-company

[2021-02-26 15:36] brenner-company commented on #766
Aanpassingen zijn doorgevoerd en gedocumenteerd binnen #704.

[2021-02-26 15:36] #766 closed, assigned to nobody

[2021-03-02 09:28] #726 closed, assigned to brenner-company

[2021-03-02 09:28] #730 closed, assigned to brenner-company

[2021-03-02 09:28] #771 closed, assigned to brenner-company

[2021-03-02 09:29] #701 closed, assigned to brenner-company

[2021-03-02 09:29] #702 closed, assigned to brenner-company

[2021-03-02 09:29] #704 closed, assigned to brenner-company

[2021-03-02 09:29] #708 closed, assigned to brenner-company

[2021-03-02 09:29] #710 closed, assigned to brenner-company

[2021-03-02 09:29] #712 closed, assigned to brenner-company

[2021-03-02 09:29] #719 closed, assigned to brenner-company

[2021-03-02 09:29] #722 closed, assigned to brenner-company

[2021-03-02 09:29] #724 closed, assigned to brenner-company

[2021-03-02 09:29] #725 closed, assigned to brenner-company

[2021-03-02 16:49] brenner-company commented on #705
Opmerking mbt refactoring per component zal ik hieronder wat onderhouden (iets makkelijk dan nog extra tussen de checklist bovenaan de issue te plaatsen).

Typography
-----

- vl-typography bevat ook styling voor verscheidene andere elementen (e.g. ol, table, hr, blockquote, links, etc.) maar komt nog niet voor binnen auk-content. Misschien dat die ook moeten vertaald worden naar auk-content?
- `s

[2021-03-22 17:19] brenner-company commented on #705
Alle onderdelen die ik binnen de refactor kon opnemen zijn afgewerkt. Daarnaast heb ik nog op elk scherm visueel issues en grote verschillen gefixed/recht getrokken.

Morgen breng ik alles dan in orde voor een PR 👏

[2021-03-23 18:38] brenner-company commented on #703
Aanpassingen op de volgende branch: DES/enhancement/#703-styleguide-styling-scoped

[2021-03-23 18:55] brenner-company commented on #711
Aanpassingen op de volgende branch: DES/enhancement/#711-vlc-reverse-tabs-spacing

[2021-03-24 18:58] MikiDi commented on #718
Fixed in 3f3642757e91751cb9c35c5b16d7f4ec32c0734a

[2021-03-24 18:58] #718 closed, assigned to nobody

[2021-03-25 10:24] Wolfr commented on #763
@brenner-company Dit zou ik toch wel eens willen doen. Dit lijkt me een aparte PR.

[2021-03-29 08:47] brenner-company commented on #770
Class is al verwijderd binnen #705, dus issue mag afgesloten worden.

[2021-03-29 08:47] #770 closed, assigned to nobody

[2021-03-29 10:48] brenner-company commented on #767
@Wolfr: Om verder in te gaan op mijn vraag en ons kort gesprek op Slack:

\+

Voor de issue zelf heb ik gewoon even kleine override voorzien (`width: 100%`), maar er zou dus nog eens gekeken moeten worden wat er gedaan kan worden mbt de oorzaak van de issue.

[2021-03-29 10:52] brenner-company commented on #737
@Wolfr: ik heb het label 'design-clarity-needed' hier aan toegevoegd. Voor future reference, is dit correct?

[2021-03-29 10:53] brenner-company commented on #763
Aanpassingen op de volgende branch: DES/enhancement/#763-#764-#767-styleguide-final-state

[2021-03-29 10:53] brenner-company commented on #764
Aanpassingen op de volgende branch: DES/enhancement/#763-#764-#767-styleguide-final-state

[2021-03-29 10:54] brenner-company commented on #767
Aanpassingen op de volgende branch: DES/enhancement/#763-#764-#767-styleguide-final-state

[2021-03-29 15:22] brenner-company commented on #721
Aanpassingen op de volgende branch: DES/enhancement/#721-table-row-hover-styling

[2021-03-31 07:48] Wolfr commented on #769
Concrete todo is dus de documentatie aan te passen naar divs en straight-up HTML code ipv de expliciete component.

We kunnen de Octane component zelfs verwijderen. (maar de CSS en HTML moet blijven bestaan)

[2021-03-31 11:31] Wolfr opened #786 "Mock login"
Mock login pagina kan betere styling gebruiken, cfr. prototype: http://development.kaleidos-prototype.mono.digital/authentication/overview.html

[2021-03-31 11:33] Wolfr commented on #769
Ik heb recent geleerd dat de parent van een definition list item ook een div mag zijn
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl#wrapping_name-value_groups_in_htmlelementdiv_elements

Dit is eigenlijk een soort definition list, dus dat kunnen we toepassen.

[2021-03-31 11:35] Wolfr commented on #768
Dit is meer een prototype taak, ik sluit het hier.

[2021-03-31 11:35] #768 closed, assigned to nobody

[2021-03-31 11:50] Wolfr commented on #767
Deze repo lijkt WebUniversum in zijn geheel te tonen.

![image](https://user-images.githubusercontent.com/12690/113139491-7ccb2500-9227-11eb-84d4-0bef498f56b7.png)

Ik weet niet goed hoe dat zo gebeurd is, maar ik heb een PR gedaan op die module om die files weg te halen.

https://github.com/lblod/ember-vo-webuniversum/pull/3

Ik snap niet goed waarom dit een dependency is van ons project. 1 theor

[2021-03-31 11:51] #765 closed, assigned to nobody

[2021-03-31 12:00] Wolfr opened #787 "Acties op agenda"
Weet niet goed wat er hier gebeurd is, maar deze acties dienen zeker niet gecentreerd te zijn.

Ook staat er een divider te veel denk ik: je zou eerst de 2 blauwe acties moeten krijgen, dan een divider, en dan de verwijder actie.

![image](https://user-images.githubusercontent.com/12690/113141024-776eda00-9229-11eb-8961-30e49f722346.png)

Knop rechtsboven op het overzicht van een agenda.

[2021-03-31 12:12] Wolfr opened #788 "Agendapunten synchroniseren tussen prototype en front-end"
Algemeen doel: nieuwe CSS component gebruiken voor agendapunten.

Agendapunten heeft vrij specifieke en grote code, met veel hoekjes en kantjes.

Maar we moeten er wel eens werk van maken om dit te updaten naar een nieuwe versie.

Dit is groot genoeg om uiteindelijk een dedicated Jira ticket te worden en mee te nemen op sprintplanning, ik begin hier alvast een deel van de uitleg.

Hier gaan we goe

[2021-03-31 12:14] Wolfr opened #789 "Iconen package updaten"
Er zou een updated versie moeten gemaakt worden van de iconen package, in het prototype zijn heel wat nieuwe iconen toegevoegd, er zijn iconen van naam veranderd en er zijn ook iconen verwijderd.

Related info: https://github.com/mono-company/kaleidos-prototype-v3/issues/75
https://github.com/mono-company/kaleidos-prototype-v3/issues/28

Ik zou een kopie maken van de SVGs van het prototype en verg

[2021-03-31 12:19] Wolfr opened #790 "De styling van code blocks komt nogal groot uit"
![image](https://user-images.githubusercontent.com/12690/113143162-201e3900-922c-11eb-9deb-131a5729e88b.png)

Font size wat kleiner zetten voor Prism? Should be an easy issue.

[2021-03-31 12:21] Wolfr opened #791 "Alert stack pagina styleguide"
![image](https://user-images.githubusercontent.com/12690/113143254-375d2680-922c-11eb-963c-410a70661228.png)

Hoe het hier staat, is geen goed voorbeeld, met die “Annuleren” knop.

Er is een related issue in het prototype https://github.com/mono-company/kaleidos-prototype-v3/issues/80 . Mss eerst de afwerking daarvan afwachten, en dan herimplementeren in Ember context hier.

[2021-03-31 12:23] Wolfr opened #792 "Badge & avatars pagina"
![image](https://user-images.githubusercontent.com/12690/113143382-5fe52080-922c-11eb-9795-48c299ed601f.png)

Huidige Badge pagina toont een lege, avatar als voorbeeld, maar we hebben dat expliciet afgesplitst naar een eigen avatar component: http://development.kaleidos-prototype.mono.digital/styleguide/auk-avatar.html

Badge pagina heeft dan een info icoontje als hoofdvoorbeeld: http://developmen

[2021-03-31 12:24] Wolfr opened #793 "In de arguments list van badge staat er niet bij dat @icon een mogelijk argument is"
http://localhost:4200/styleguide/badge

In de arguments list van badge staat er niet bij dat @icon een mogelijk argument is.

Beschrijving kan gelijkaardig zijn als deze in de documentatie hier: http://development.kaleidos-prototype.mono.digital/styleguide/auk-badge.html

[2021-03-31 12:29] MikiDi commented on #788
In deze component zijn "under the hood" recent heel wat veranderingen geweest: best checken of https://github.com/kanselarij-vlaanderen/kaleidos-frontend/pull/778 op de `development` branch zit alvorens hieraan te beginnen.
Alvast een tip vanuit dev-perspectief: de data achter het "oogje" ("niet zichtbaar in kort-bestek") is een side-loaded data-element. Omdat het oogje enkel in 1 van de 2 mogelij

[2021-03-31 12:31] Wolfr commented on #703
Code ziet er goed uit.

[2021-03-31 12:33] MikiDi commented on #787
Omtrent de divider was recent wat talk, hier in de buurt https://kanselarij.atlassian.net/browse/KAS-2214?focusedCommentId=15266 ... @ValenberghsSven zal meer weten.

[2021-03-31 12:35] Wolfr opened #794 "Modals: meer documentatie van de verschillende opties"
De modals die momenteel in de styleguide staan

![image](https://user-images.githubusercontent.com/12690/113144962-257c8300-922e-11eb-9e13-707e0fdc7617.png)

Die hebben precies geen max breedte/sizes,

Beter gelijkaardige code documenteren zoals op http://development.kaleidos-prototype.mono.digital/styleguide/auk-modal-sizes.html .

Eventueel in een elegant ember component steken.

[2021-03-31 12:37] Wolfr opened #795 "Algemene bedoeling: prototype styleguide zoveel mogelijk syncen naar een Ember versie"
Algemeen is 1 van de nieuwe hoofdtaken de prototype styleguide zoveel mogelijk syncen naar een Ember versie.

In de styleguide in prototype wordt reeds veel weergegeven dat wenselijk is en up to date met de designs.

We moeten stukje bij beetje syncen, en vertaling maken naar Ember. Deze issue kan dienen als master issue, en we kunnen voor elk component bekijken wat het werk is en hoe we er juist

[2021-03-31 12:38] Wolfr commented on #728
Dit zou eigenlijk in Jira moeten gelogd worden als refactor issue, om eruit te halen, om de codenbase behapbaarder te maken.

@erikap

[2021-03-31 12:38] Wolfr commented on #732
Deze issue is eigenlijk een beetje verkeerd geformuleerd. Ik herschrijf.

[2021-03-31 12:44] Wolfr opened #796 "Bewerken knop bij Ministers en Beleidsvelden heeft verkeerde icoon"
![image](https://user-images.githubusercontent.com/12690/113146055-822c6d80-922f-11eb-9fba-a581a5e70c03.png)

Cog icoon ipv edit icoon.

[2021-03-31 12:46] Wolfr commented on #791
Low prio want die alert stack fixen op zich is nog wel een ander paar mouwen (met dat die zo constant flasht)

[2021-03-31 12:47] Wolfr opened #797 "Mooiere syntax style voor code blocks (gebruiken wat reeds ontwikkeld is)"
![image](https://user-images.githubusercontent.com/12690/113146429-f36c2080-922f-11eb-921c-5c1cc579fda1.png)

Op het ember prototype ad ik een mooiere syntax style die bij de rest van de stijlen past geinclude.

Dit is in het vertaalproces er precies afgevallen.

Voorbeeld: http://development.kaleidosemberdemo.mono.digital/styleguide/dropdown

Todo: zoeken hoe we dit toch kunnen implementeren op `

[2021-03-31 12:48] Wolfr commented on #789
Marked als `important` omdat veel werk hiervan af hangt.

[2021-03-31 12:59] Wolfr opened #798 "vlc-container vs auk-container"
Code verschilt, mss moeten we hier een aantal breedtes definiëren en een aantal sizes om dit gemerged te krijgen?

[code]

[code]

[2021-03-31 12:59] Wolfr opened #799 "vlc-button occurences weg refactoren"
![image](https://user-images.githubusercontent.com/12690/113147772-6c1fac80-9231-11eb-812d-7380b42804ca.png)

Zou niet meer mogen voorkomen in de HTML wegens gebruik AuButton

[2021-03-31 13:03] Wolfr opened #800 "Lokale style fixes op vlc componenten (agenda)"
In afwachting van #788 (gemarkeerd als "big one" omdat dit relatief veel werk is) kunnen we een aantal lokale style fixes doen op de vlc componenten.

*

*Ticket aan te vullen @Wolfr *

[2021-03-31 13:18] Wolfr commented on #788
Dank voor de info @MikiDi . Voor we hier effectief aan beginnen moeten we hier samen naar kijken en zien waar we nog allemaal rekening mee moeten houden etc. Dit is een vrij ingewikkelde.

[2021-03-31 13:29] MikiDi commented on #788
Wat betreft het printen, for reference: momenteel is er een aparte route voorzien voor het printen van het agenda op bv https://kaleidos-dev.vlaanderen.be/vergadering/5EDE149C4A2F330008000018/agenda/e64f4e80-d011-11ea-a5bd-d71b3933dfd7/afdrukken (agenda: "acties" > "afdrukbare versie"). Deze komt wat maintenance tekort, maar is al dicht bij wat de gebruikers qua lay-out verwachten (redelijk specif

[2021-03-31 14:01] Wolfr opened #801 "Accordion component"
We gaan moeten werken aan een eigen accordion component.

Liefst zoveel mogelijk herbruiken van anderen.

AppUniversum lijkt dit niet te hebben: https://appuniversum.github.io/ember-appuniversum/

Hier al aan gewerkt in Eigen ember versie, maar wegens gebrek aan Ember kennis mss niet zo goed.

![image](https://user-images.githubusercontent.com/12690/113156498-582c7880-923a-11eb-8e29-adaa3de2c3cd.p

[2021-04-01 08:17] Wolfr opened #802 "Atoms zo veel mogelijk verschuiven naar logica Octane componenten"
Waar er losse buttons, badges, pills e.d. voorkomen, dit al zoveel mogelijk verzetten naar Octane syntax.

[2021-04-01 08:23] Wolfr commented on #705
Als we nog leftover `-vl` tegenkomen, individueel eruit halen.

Deze issue gaan we closen als het gemerged is, en concentreren op volgende werken o.a. #732 en #802 .

[2021-04-01 08:24] Wolfr commented on #716
Kadert in algemene kwaliteit componenten; power select e.d.; nieuwe issue voor aan te maken.

[2021-04-01 08:25] Wolfr opened #803 "Multi select"
In referentie naar #716 .

Nakijken hoe we een betere multi select kunnen maken binnen de Ember context, voor toepassing in de UI in het algemeen.

Suggesties om dit gedaan te krijgen:

*  recycleren van een ander project;
* eens bespreken met RP of zij hier een aparte Ember addon voor zien zitten
* over Ember power select dingen opzoeken -

cc @MikiDi

https://github.com/kanselarij-vlaanderen/kal

[2021-04-01 08:25] #716 closed, assigned to brenner-company

[2021-04-01 08:34] Wolfr commented on #727
Te bespreken met @erikap

[2021-04-01 08:35] Wolfr commented on #729
Te loggen op Jira

[2021-04-01 08:44] Wolfr commented on #748
#803 related

[2021-04-01 08:51] Wolfr commented on #786
Eerst gaan we een algemeen list component maken, en dit hier op toepassen.

[2021-04-01 09:01] Wolfr opened #804 "Status select"
Voor openbaarheid van een document

![image](https://user-images.githubusercontent.com/12690/113270208-88772400-92d9-11eb-903a-cb48d939472b.png)

[2021-04-01 09:18] MikiDi commented on #803
Power-select is niet perfect, maar toch de meest complete / best maintained select-addon die ik ken. Veronderstellende dat je met "beter" vooral meer customized styling bedoelt, maar de interactie van power-select wel goed vindt, zou een kleine analyse van [de customization mogelijkheden](https://ember-power-select.com/docs/styles) ([alle sass variables](https://github.com/cibernox/ember-power-sel

[2021-04-01 10:04] Wolfr commented on #803
Power select is niet accessible. De author lijkt mij min of meer gestopt met maintenance, er staan daar 30 open PRs.

Wellicht is het nog altijd de beste oplossing; maar het moet onderzocht worden en er moet op gewerkt worden. Met betere styling gaat het dan over een CSS toepassing zodat

dit

![image](https://user-images.githubusercontent.com/12690/113278495-469eab80-92e2-11eb-9e31-d6c897954f3b.p

[2021-04-01 10:05] Wolfr commented on #804
Fanny gaat hier een duidelijker design voor maken.

@MikiDi ik denk dat jij hier ooit al eens power select voor gecustomized had, kan je die referentie die je al een paar keer gegeven hebt daarover nog eens geven?

[2021-04-02 15:41] brenner-company opened #809 "Issues volgend op vl-refactor"
Binnen volgende ticket zullen de issues gelogd worden die volgen op de vl-refactor: https://kanselarij.atlassian.net/browse/KAS-2457

[2021-04-09 08:24] Wolfr commented on #804
Wij hebben gewerkt aan duidelijkere designs voor de verschillende pickers.

Zie Figma library:
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2753%3A990

[2021-04-09 08:25] Wolfr commented on #803
De mockup in vorige comment is een beetje out of date we hebben de check marks links gezet in de laatste versie van selects.

![image](https://user-images.githubusercontent.com/12690/114151902-eaf5a300-991d-11eb-929e-1868e2fa218d.png)

[2021-04-09 08:28] Wolfr commented on #802
Dit blijft voor mij een hoofdprioriteit, om aan te werken, dat er zo weinig mogelijke losse elementen voorkomen.

[2021-04-09 08:29] Wolfr commented on #801
Enkele referenties.

een customisatie op power select. Maar is nergens gedocumenteerd
https://github.com/mono-company/kaleidos-ember-prototype/blob/master/app/styles/_custom-power-select.scss

Accordion: op Twiddle (uit  https://github.com/mono-company/kaleidos-ember-prototype )
https://ember-twiddle.com/bc4e11d5efdc25c742972256ffe9b6a3?openFiles=styles.app%5C.css%2Ctemplates.components.accordion%

[2021-04-09 08:33] Wolfr opened #813 "Strategie voor complexe componenten"
Ik heb nagedacht over een strategie voor de complexe componenten.

* Eerst de CSS naar een nieuwe package versie, (van au-kaleidos-css) terug package-izen dus,
* Dit releasen, zodat we een duidelijke referentie hebben van de CSS state

* Dan nieuwe Ember app opstarten, volledig nieuwe repo, waar we die CSS package inladen
* In die Ember app prototypes maken van de verschillende componenten
  * Sel

[2021-04-09 08:34] Wolfr opened #814 "Datepicker"
Duet datepicker gebruiken ter vervanging van WebUniversum datepicker

* Is toegankelijk
* Ziet er beter uit

[2021-04-09 08:37] Wolfr opened #815 "Uploader"
Een versie van [ember-vo-mu-file-upload](https://github.com/lblod/ember-vo-mu-file-upload) ontwikkelen, die we customizen met onze UI styles (voorbeeld [prototype](http://development.kaleidos-prototype.mono.digital/styleguide/auk-file-upload.html), voorbeeld [Figma](https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2795%3A5760))

Zie ook https://

[2021-04-09 08:38] Wolfr commented on #797
Dit is gewoon kwestie van de juiste prism stylesheet te includen.

https://github.com/mono-company/kaleidos-ember-prototype/blob/master/app/styles/_prism.scss

[2021-04-09 08:39] Wolfr commented on #703
Is dit nu gemerged? Mag dit dicht @brenner-company ?

[2021-04-09 08:52] brenner-company commented on #703
Ik moest nog even wachten met mergen tot de vl-refactor op de development branch stond en alles naar acceptatie kon gaan (wat gisterenavond was). Voor de zaken die onder de css-refactor branch zaten (waaronder deze issue) maak ik straks al een PR aan.

[2021-04-09 08:53] Wolfr commented on #802
In principe is dit iets dat iedereen in het team zou moeten weten, met een soort regel: als je iets ziet dat niet in Octane staat, verzet het!

Mss op te nemen op algemene sprint planning @erikap .

[2021-04-09 10:40] brenner-company commented on #789
Om de changes iets makkelijker te visualiseren even een export gedaan van de verschillen op file niveau (tussen `au-kaleidos-icons/svg` en `kaleidos-prototype-v3/content/icon-font-source`): [#789-icon-sync.pdf](https://github.com/kanselarij-vlaanderen/kaleidos-frontend/files/6285014/789-icon-sync.pdf)

@Wolfr: wat ik zelf nog zou moeten uitklaren (en daar kan jij wel mee even kort helpen vermoed i

[2021-04-09 10:54] brenner-company commented on #789
Volgende iconen zouden ook hun kleur 'verliezen' met de sync:

- `circle-close.svg`
- `document-added.svg`
- `lightbulb.svg`
- `mail.svg`
- `plus.svg`
- `timeline.svg`

Zorg ik er dan na de sync er voor dat die iconen (of hun vervangers) nog steeds dezelfde kleur hebben?

[2021-04-09 11:05] #767 closed, assigned to brenner-company

[2021-04-09 11:16] brenner-company commented on #703
Aanpassingen zijn gemerged. Ik sluit direct deze (en alle andere binnen deze PR) issue.

[2021-04-09 11:16] #703 closed, assigned to brenner-company

[2021-04-09 11:16] #711 closed, assigned to brenner-company

[2021-04-09 11:16] #721 closed, assigned to brenner-company

[2021-04-09 11:17] #763 closed, assigned to brenner-company

[2021-04-09 11:17] #764 closed, assigned to brenner-company

[2021-04-09 13:57] Wolfr opened #818 "WebComponents namespace for components is unnecessary"
See thread https://chat.semte.ch/group/appuniversum/thread/gjveDDjkXq5jNnz9r

We should clean this up.

[2021-04-09 13:58] Wolfr opened #819 "Mock login impersonate"
The functionality of mock log in to impersonate someone is broken.

See https://chat.semte.ch/group/kanselarij-dev/thread/ak8ZZDw5bzanLiRYy

Should we remove this? Feedback wanted from dev team.

[2021-04-09 16:32] Wolfr commented on #818
logged as https://kanselarij.atlassian.net/browse/KAS-2468

[2021-04-09 16:32] Wolfr commented on #819
Logged as https://kanselarij.atlassian.net/browse/KAS-2467

[2021-04-09 16:41] #800 closed, assigned to nobody

[2021-04-09 16:44] Wolfr opened #821 "Section headers zijn te groot (mededelingen - nota's)"
De section headers voor mededelingen en nota's zijn te groot.

![image](https://user-images.githubusercontent.com/12690/114213456-48f8a980-9963-11eb-963b-fcce3036187f.png)

Tekst mag veel kleiner zoals in dit design: https://www.figma.com/file/mfW2QnWvJQjwVvTP8Ybbgy/%F0%9F%92%AF-Kaleidos-Designs-Kabinetten-v2?node-id=776%3A1733

De tekst voor "toon aangepaste punten" staat hier niet meer in, maar

[2021-04-11 11:01] Wolfr commented on #789
Die kleur moet eigenlijk geregeld worden door de CSS. Alle icons zouden gewoon zwart moeten zijn.

Ik denk niet dat het veel uitmaakt momenteel. Doe maar gewoon en we lossen het wel op als er iets breekt.

[2021-04-12 15:54] brenner-company commented on #789
Package is geupdate met een 'minor release', classnames zijn waar nodig aangepast of vervangen en er zijn daar rond ook enkele zaken in orde gebracht binnen de styleguide.

Aanpassingen op de volgende branch: DES/enhancement/#789-icon-sync

Even door de app gegaan en zie geen issues buiten dan de volgende (die ik al eens vermeld had - geen alternatief voor pauze icon):

![CleanShot 2021-04-12 at 1

[2021-04-12 16:48] Wolfr commented on #789
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=1%3A300

Het `circle-pause` icoon bestaat?

[2021-04-12 17:04] brenner-company commented on #789
Met dat dit icoon (+ `circle-more`) niet binnen het prototype bestond, maar wel binnen `au-kaleidos-icon` was ik niet 100% zeker of deze mee moesten. Ik check morgenochtend eens of de versie binnen `au-kaleidos-icon` correct is en pas deze aan binnen de templates.

[2021-04-12 17:05] Wolfr commented on #789
Hmm, dan moeten we het prototype ook eens updaten zodat het daar ook klopt. Ik log een issue.

[2021-04-13 07:08] Wolfr opened #824 "Breedte ingeklapte balk agenda's"
<img width="145" alt="CleanShot 2021-04-13 at 09 07 53@2x" src="https://user-images.githubusercontent.com/12690/114511099-c2301f00-9c37-11eb-8eab-c87cf3512bb4.png">

De zijbalk is te breed, in de designs is die smaller.

Er is een nieuwe component maar kan ook tijdelijk gehotfixed worden om het niet te ingewikkeld te maken.

[2021-04-13 08:43] Wolfr opened #825 "Icon position on link button is off"
https://kaleidos-dev.vlaanderen.be/styleguide/link-button

![image](https://user-images.githubusercontent.com/12690/114523945-155c9e80-9c45-11eb-865a-9ab4be2a5215.png)

Just saw that icon position on the link button is off.

[2021-04-13 08:49] Wolfr opened #826 "Icon only button in styleguide is showing a label"
![image](https://user-images.githubusercontent.com/12690/114524836-d9760900-9c45-11eb-8379-f66d2815f95c.png)

The label should not be shown here.  Maybe a wrong .u-sr-accessible type of class is being referenced?

[2021-04-13 09:09] Wolfr opened #827 "Show disabled state for button"
Show disabled state for button in the style guide.

Disabled should be a property available on Button, if it's not, we need to add it.

Should be documented as an argument here:
https://kaleidos-dev.vlaanderen.be/styleguide/button-types

[2021-04-13 09:10] Wolfr opened #828 "Remove Button (loading)"
Remove this type of button from the style guide, as we will not be using it this way.

https://kaleidos-dev.vlaanderen.be/styleguide/button-loading

[2021-04-13 09:17] Wolfr commented on #826
I was investigating and I found a fix, can you apply it @brenner-company ? Setting up the whole PR flow logic would be too intense.

In file `inner-layout.hbs` for buttons, line 12, `<span class="u-sr-only">{{yield}}</span>`  should be`<span class="auk-u-sr-only">{{yield}}</span>`

[2021-04-13 12:16] #819 closed, assigned to nobody

[2021-04-13 12:16] #818 closed, assigned to nobody

[2021-04-13 12:17] Wolfr commented on #786
We hebben hier nu wel een nieuw design voor, maar enige opmerkingen op het bestaande mock-login scherm wereden eerder koud onthaald, dus ik stel voor hier voorlopig niet aan te werken.

[2021-04-13 12:17] Wolfr commented on #748
We zijn nog bezig met design clarity krijgen hier.

[2021-04-13 12:18] Wolfr commented on #743
De disabled state van de knoppen is gelijk getrokken, zie ook todo bij #827 .

[2021-04-13 12:19] Wolfr commented on #738
Ik denk dat we eerder voor het nieuwe document widget gaan gaan met een feature flag ipv het oude te verbeteren met usability fixes, maar dat is nog in bespreking.

[2021-04-13 12:21] Wolfr commented on #728
Closed want gelogd op Jira https://kanselarij.atlassian.net/browse/KAS-2492

[2021-04-13 12:21] #728 closed, assigned to nobody

[2021-04-13 12:23] Wolfr commented on #727
Algemene betere database is wenselijk, maar is al zo vaak herhaald dat ik er geen aparte issue van ga maken, ik ga er van uit dat dit een gekend probleem is, en het is niet actionable voor Karel of mij, dus ik close hier de issue.

[2021-04-13 12:23] #727 closed, assigned to nobody

[2021-04-13 12:23] Wolfr commented on #729
Nog eens getest, lijkt al opgelost.

[2021-04-13 12:23] #729 closed, assigned to nobody

[2021-04-13 13:05] Wolfr opened #833 "Opruimen titel balk publicaties: linkerkant titel"
![image](https://user-images.githubusercontent.com/12690/114557080-99288200-9c69-11eb-8c49-682946a4d65f.png)

Op de titel bij publicaties staan onnodige CSS klasses.

[2021-04-13 13:06] Wolfr opened #834 "De modal van filter publicaties is te breed + Titel veranderen."
![image](https://user-images.githubusercontent.com/12690/114557213-bb220480-9c69-11eb-92f1-98c5b6f4a305.png)

De modal "Filter inhoud" van publicaties is te breed, en heeft ook een verkeerde titel (Filter publicaties). We hebben er voor gekozen om overal dezelfde titel "Filter inhoud" te gaan gebruiken (ook op andere plekken waar dit gaat voorkomen)

[2021-04-13 13:08] Wolfr opened #835 "Titel "Mijn dossiers" is overbodig op hoofdpagina dossiers"
Op de hoofdpagina https://kaleidos-dev.vlaanderen.be/dossiers staat een titel "Mijn dossiers", dit is overbodig, dit klopt ook niet. Je ziet namelijk alle dossiers, niet enkel mijn dossiers.

![image](https://user-images.githubusercontent.com/12690/114557545-12c07000-9c6a-11eb-872c-46a7ee689c08.png)

[2021-04-13 13:09] Wolfr commented on #834
Ook de modal van dossier aanmaken is te breed, misschien moet de default breedte van de modal kleiner worden?

![image](https://user-images.githubusercontent.com/12690/114557708-3a173d00-9c6a-11eb-8730-d202b78b8b6c.png)

Iemand heeft mss de default breedte verzet?
Is er een manier om een size aan een modal mee te geven momenteel via een bepaald Component argument?

[2021-04-13 13:46] #789 closed, assigned to brenner-company

[2021-04-13 13:55] brenner-company commented on #799
Aanpassingen op de volgende branch: DES/enhancement/732-vlc-refactor/button

[2021-04-13 14:58] brenner-company commented on #798
@Wolfr: Wat denk je van het volgende? Of zoeken we nog iets meer uitgebreid?

[code]

[2021-04-13 15:47] Wolfr commented on #798
Voorlopig goed denk ik, we zullen het wel uitbreiden als we het nodig hebben.

We moeten wel (maar dat staat los van dit) eens goed nadenken wat we juist willen doen met de spacing: als je ergens standaard padding wilt, hoe hoor je dat dan te zetten? Welke combinatie van containers en spacer divs? (zit het ingebakken in de container of niet? Wat met navbar en toolbar? Waar zit de spacing juist?)

[2021-04-14 16:31] brenner-company commented on #769
Binnen #732 zijn de vlc-instanties al omgezet naar de correcte description list structuur. Vanaf het moment dat ik de bestaande auk-variant in component vorm (gedaan binnen vl-refactor) naar HTML/CSS omzet zal ik deze issue als referentie gebruiken.

[2021-04-15 10:54] Wolfr opened #837 "Acties dropdown look"
<img width="352" alt="CleanShot 2021-04-09 at 13 58 17@2x" src="https://user-images.githubusercontent.com/12690/114858287-8e94f680-9de9-11eb-9fa0-18f75f262467.png">

Ik heb de agenda acties al in allerhande vreemde configuraties gezien, met te veel lijnen, met text centering, dit screenshot van 9 april. Niet conform design logica. Moeten we eens bekijken.

[2021-04-15 10:57] Wolfr opened #838 "Print views"
<img width="1252" alt="CleanShot 2021-04-12 at 17 21 58@2x" src="https://user-images.githubusercontent.com/12690/114858696-167b0080-9dea-11eb-9184-8c5a030dc356.png">

Print views te bespreken (screenshot van 12-04)

[2021-04-16 13:58] brenner-company commented on #732
Opmerking mbt refactoring per component zal ik hieronder wat onderhouden.

Box
-----

(geen opmerkingen)

Button
-----

- Aangezien 'button-in-input' hier ook mee overlapte is deze tegelijkertijd mee gerefactored.

Container
-----

- Zoals vermeld binnen #798 zijn een aantal extra sizes toegevoegd binnen de styling van dit component.

Input
-----

(geen opmerkingen)

Key-value
-----

- Hierna moet

[2021-04-16 14:28] brenner-company commented on #735
Binnen de vlc-refactor een ideale kandidaat hiervoor gevonden: namelijk `.vlc-toolbar--slide-in` (extra styling op toolbar binnen main header) binnen de (ondertussen verwijderde) `_vlc-toolbar.scss`.

Het resultaat: https://github.com/kanselarij-vlaanderen/kaleidos-frontend/commit/cdfa8d3e7d0cc50f88fe27968dcf9511e5470ce8

Enkel nog niet letten op de locatie en de benaming van dat bestand (dat moet

[2021-04-23 08:59] Wolfr commented on #748
Dit is ondertussen duidelijker, zoals besproken in meeting.

https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2955%3A9

<img width="607" alt="CleanShot 2021-04-23 at 09 56 01@2x" src="https://user-images.githubusercontent.com/12690/115846651-6c6f2a00-a422-11eb-85be-d461a4e50ac1.png">

We kunnen de power select bijstijlen zodat dit meer lijkt op

[2021-04-23 10:27] Wolfr opened #853 "Sync buttons to new styles"
<img width="463" alt="CleanShot 2021-04-23 at 09 32 31@2x" src="https://user-images.githubusercontent.com/12690/115858391-2ec4ce00-a42f-11eb-94ee-625743d5d536.png">
<img width="505" alt="CleanShot 2021-04-23 at 09 32 27@2x" src="https://user-images.githubusercontent.com/12690/115858396-2f5d6480-a42f-11eb-9d52-ee5fc0149fc0.png">

[2021-04-23 13:19] Wolfr commented on #743
Lijkt me in orde gekomen.

[2021-04-23 13:19] #743 closed, assigned to nobody

[2021-04-24 10:00] Wolfr opened #856 "Drukproef aanvragen modal: lijst bijlagen"
<img width="2555" alt="CleanShot 2021-04-23 at 14 20 23@2x" src="https://user-images.githubusercontent.com/12690/115955011-6e092280-a4f4-11eb-8a6f-fe7c03c557f5.png">

Er gaat iets mis met de bijlagen, de boekjes iconen lijnen niet goed uit.

[2021-04-24 10:00] Wolfr opened #857 "Lijst aanvragen: er is te veel plaats tussen de items"
<img width="2560" alt="CleanShot 2021-04-23 at 14 18 46@2x" src="https://user-images.githubusercontent.com/12690/115955057-af99cd80-a4f4-11eb-8a98-508f365d6e43.png">

Drukproef - Lijst aanvragen: er is te veel plaats tussen de items

[2021-04-24 10:07] Wolfr commented on #815
@MikiDi is hier mee bezig geweest.

Er is ook een update geweest aan het design en de visuele look: zie [deze pagina in de Figma library](https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2940%3A4692).

[2021-04-24 10:09] Wolfr commented on #814
Er is discussie over deze date picker op [rocket chat](https://chat.semte.ch/group/appuniversum/thread/Qr4ESgrPmD755Spt7).

Figma file is aangepast om aan te sluiten op Duet date picker ([library page link](https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=553%3A50)).

[2021-04-24 10:11] Wolfr commented on #804
De status picker heeft nu zijn eigen Figma artboard.
https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2948%3A4891

[2021-04-24 10:11] Wolfr commented on #803
De multi select heeft nu zijn eigen Figma pagina. https://www.figma.com/file/8tKG5CYiDDFPWJJ62kPYTj/WU3-Kaleidos-Master-Library-Design-patterns?node-id=2955%3A9

[2021-04-24 10:11] Wolfr commented on #801
Er is nu een basis voor de accordion in prototype: http://development.kaleidos-prototype.mono.digital/styleguide/auk-accordion.html

[2021-04-27 11:48] Wolfr opened #862 "Feedback document uploading state"

[2021-04-27 11:49] Wolfr commented on #862
Verkeerde repo

[2021-04-27 11:49] #862 closed, assigned to nobody

[2021-05-03 09:38] #798 closed, assigned to brenner-company

[2021-05-03 09:38] #799 closed, assigned to brenner-company

[2021-05-03 09:38] #809 closed, assigned to brenner-company

[2021-05-07 16:30] brenner-company commented on #795
### Status synchronisatie

- [x] **au-color-badge**
  - [x] Component
  - [x] Documentation
- [x] **au-avatar** (review needed)
  - [x] Component
  - [x] Documentation

---

_Voor de status van de CSS synchronisatie van `au-kaleidos-css` met `kaleidos-prototype-v3`: https://github.com/kanselarij-vlaanderen/au-kaleidos-css/issues/8_

[2021-06-04 08:32] #749 closed, assigned to nobody

[2021-06-04 08:32] #790 closed, assigned to nobody

[2021-06-04 08:32] #792 closed, assigned to nobody

[2021-06-04 08:39] #824 closed, assigned to brenner-company

[2021-06-04 08:49] #825 closed, assigned to brenner-company

[2021-06-04 08:49] #826 closed, assigned to brenner-company

[2021-06-04 08:51] #838 closed, assigned to brenner-company

[2021-08-16 11:57] #833 closed, assigned to brenner-company

[2021-08-16 15:28] #857 closed, assigned to nobody

[2021-08-16 15:33] #856 closed, assigned to nobody

[2021-08-16 15:33] #853 closed, assigned to brenner-company

[2021-08-16 15:33] #837 closed, assigned to brenner-company

[2021-09-13 10:35] #835 closed, assigned to nobody

[2021-09-13 10:38] brenner-company commented on #828
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2894

[2021-09-13 10:38] #828 closed, assigned to brenner-company

[2021-09-13 10:51] #821 closed, assigned to brenner-company

[2021-09-13 10:51] #815 closed, assigned to nobody

[2021-09-13 10:59] brenner-company commented on #796
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2895

[2021-09-13 10:59] #796 closed, assigned to brenner-company

[2021-09-13 11:00] #787 closed, assigned to brenner-company

[2021-09-13 11:12] brenner-company commented on #793
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2896

[2021-09-13 11:12] #793 closed, assigned to brenner-company

[2021-09-13 11:21] #744 closed, assigned to brenner-company

[2021-09-13 14:17] brenner-company commented on #744
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2900

[2021-09-13 14:30] brenner-company commented on #834
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2901

[2021-09-13 14:30] #834 closed, assigned to brenner-company

[2021-09-13 15:54] brenner-company commented on #827
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2912

[2021-09-13 15:54] #827 closed, assigned to brenner-company

[2021-09-14 09:30] brenner-company commented on #814
Issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2913

[2021-09-14 09:30] #814 closed, assigned to nobody

[2021-09-14 09:51] brenner-company commented on #804
Issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2914

[2021-09-14 09:51] #804 closed, assigned to brenner-company

[2021-09-14 09:56] brenner-company commented on #803
Issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2915

[2021-09-14 09:56] #803 closed, assigned to brenner-company

[2021-09-14 10:22] #801 closed, assigned to nobody

[2021-09-14 10:35] brenner-company commented on #794
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2916

[2021-09-14 10:35] #794 closed, assigned to brenner-company

[2021-09-14 11:36] brenner-company commented on #791
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2917

[2021-09-14 11:36] #791 closed, assigned to nobody

[2021-09-14 11:56] brenner-company commented on #769
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2918

[2021-09-14 11:56] #769 closed, assigned to brenner-company

[2021-09-14 11:59] brenner-company commented on #748
Issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2915

[2021-09-14 11:59] #748 closed, assigned to nobody

[2021-09-14 15:05] brenner-company commented on #737
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2919

[2021-09-14 15:05] #737 closed, assigned to nobody

[2021-09-14 15:24] brenner-company commented on #739
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2920

[2021-09-14 15:24] #739 closed, assigned to nobody

[2021-09-14 15:27] brenner-company commented on #757
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2921

[2021-09-14 15:27] #757 closed, assigned to nobody

[2021-09-14 15:42] brenner-company commented on #760
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2922

[2021-09-14 15:42] #760 closed, assigned to nobody

[2021-09-14 16:20] brenner-company commented on #786
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2923

[2021-09-14 16:20] #786 closed, assigned to nobody

[2021-09-14 16:22] brenner-company commented on #733
Omdat https://github.com/kanselarij-vlaanderen/kaleidos-frontend/issues/802 hier ook qua onderwerp bij aansluit wordt deze issue afgesloten en alles verder daar opgevolgd.

[2021-09-14 16:22] #733 closed, assigned to nobody

[2021-09-14 16:43] brenner-company commented on #797
Kleinere issue's zoals deze worden vanaf nu binnen Jira geplaatst. Item staat nu onder: https://kanselarij.atlassian.net/browse/KAS-2924

[2021-09-14 16:43] #797 closed, assigned to nobody